input[type=text]{
    background-color:red;
}
input[type=number]{
  background-color: green;
}
button{
  background-color:red;
  color:green;
}
button:hover{
  background-color:green;
  color:red;
}
a::before{
  content: "\21d2 Click here: ";
  font-weight:bold;
}
